@media (max-width: 910px) {
  .advantages {
    padding: 30px 0 30px 0;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 25px;
    }
    &__subtitle {
      margin-top: 13px;
    }
    &__item {
      margin-top: 10px;
    }
    &__descr {
      margin-top: 15px;
    }
  }
  h2.title {
    font-size: 20px;
  }

  .consultation {
    padding: 40px 0 30px 50px;

    &__descr {
      font-size: 15px;
    }
  }

  .catalog__content {
    display: flex;
    justify-content: space-around;
  }

  .carousel {
    padding: 40px 0 40px 0;

    &__inner {
      margin: 0 20px 0 20px;
      width: 600px;
      div {
        img {
          width: 100%;
        }
      }
    }
    .container {
      display: flex;
      justify-content: center;
    }
  }
  .slick-slide {
    img {
      width: 100%;
    }
  }

  .slick-dots {
    list-style-type: none;
    margin: px;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 20px;
      button {
        padding: 10px;
        border: 2px rgb(196, 196, 196) solid;
        border-radius: 14px;
        color: rgb(59, 59, 59);
        background-color: #fff;
        outline: brown;
      }
    }
  }
}

@media (max-width: 650px) {
  .header {
    &__official {
      display: none;
    }
    &__contacts {
      a {
        font-size: 14px;
      }
      button {
        width: 150px;
        margin-right: 10px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      width: 180px;
      margin-left: 5px;
    }
  }
  .promo {
    &__wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
    &__header {
      font-size: 24px;
      margin: 0 auto;
    }
    &__subheader {
      margin: 10px auto;
      font-size: 15px;
    }
    &__icons {
      padding-left: 60px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
  }

  .button_main {
    width: 180px;
    font-size: 14px;
    margin-right: 10px;
  }

  .consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 20px 0;
    .title_left {
      font-size: 15px;
    }
    &__descr {
      text-align: center;
    }

    .container {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title_left {
        text-align: center;
      }
    }
    .feed-form {
      width: 300px;
      input {
        width: 100%;
      }

      #phone-error,
      #name-error,
      #email-error {
        font-size: 13px;
      }
    }
  }

  .promo {
    &__link {
      margin-right: 10px;
    }
  }

  .carousel {
    padding: 40px 0 40px 0;
    &__inner {
      margin: 0 20px 0 20px;
      max-width: 400px;

      div {
        img {
          width: 100%;
        }
      }
    }

    .container {
      display: flex;
      justify-content: center;
    }
  }

  .catalog {
    padding-bottom: 30px;
    &__tabs {
      margin-top: 30px;
    }
    &__tab {
      width: 90px;
      div {
        font-size: 10px;
      }
    }
  }

  .feed {
    padding-bottom: 25px;

    &__text {
      margin-left: 20px;
      padding: 0;
      padding-right: 10px;
    }
    &__item {
      margin-top: 30px;

      img {
        width: 100px;
        height: 100px;
      }
    }
    &-form {
      margin-top: 10px;
    }
  }

  .footer__info {
    padding: 20px;
    width: 400px;
    height: 200px;
  }

  .slick-dots {
    list-style-type: none;
    margin: px;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 20px;
      button {
        padding: 10px;
        border: 2px rgb(196, 196, 196) solid;
        border-radius: 14px;
        color: rgb(59, 59, 59);
        background-color: #fff;
        outline: brown;
      }
    }
  }

  .modal {
    width: 300px;
    height: 300px;
    padding: 10px auto;
  }
  .feed-form {
    display: flex;
    justify-content: center;
    width: 100%;
    input {
      width: 100%;
      // margin: ;
    }
    button {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      font-size: 14px;
      margin-bottom: 10px;
      height: 40px;
    }
  }
}

@media (max-width: 400px) {
  .carousel {
    padding: 40px 0 40px 0;
    &__inner {
      margin: 0 20px 0 20px;
      max-width: 300px;

      div {
        img {
          width: 100%;
        }
      }
    }
  }
}
